body {
  padding-top: 70px; /* adjust if navbar height changes */
}


.bg-orange { background-color: #fc8019 !important; }
.btn-orange { background-color: #fc8019; color: white; }
.btn-orange:hover { background-color: #e56e0f; color: white; }
.btn-outline-orange { border: 1px solid #fc8019; color: #fc8019; }
.btn-outline-orange:hover { background-color: #fc8019; color: white; }

/* Cart animation */
.cart-container {
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
}
#cartCount {
  transition: transform 0.3s ease;
}
.bump {
  transform: scale(1.3);
}
.card-img-top {
  height: 180px;
  object-fit: cover;
  width: 100%;
}